#  DO NOT REMOVE THESE LIBRARIES
fastapi[standard] 
uvicorn[standard]
pandas[standard]
pillow[standard]
timm[standard]

#  ADD YOUR LIBRARIES BELOW THIS LINE
# ======================================================
# ======================================================
